In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.25.1'

# Series

In [4]:
list=[1,2,-3,4,5.5,7.5]
print(list)

[1, 2, -3, 4, 5.5, 7.5]

In [5]:
series1=pd.Series(list)
print(series1)

0    1.0
1    2.0
2   -3.0
3    4.0
4    5.5
5    7.5
dtype: float64

In [6]:
type(series1)

pandas.core.series.Series

In [8]:
series2=pd.Series([1,2,3,4,5])
print(series2)
type(series2)

0    1
1    2
2    3
3    4
4    5
dtype: int64

pandas.core.series.Series

## creating empty series

In [9]:
empty=pd.Series([])
print(empty)
type(empty)

Series([], dtype: float64)

pandas.core.series.Series

In [16]:
series3=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'],dtype=float)
print(series3)
type(series3)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

pandas.core.series.Series

In [17]:
series4=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'],dtype=float,name='data values')
print(series4)
type(series4)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: data values, dtype: float64

pandas.core.series.Series

In [21]:
s5=pd.Series([1,2,3,4])
print(s5)

s6=pd.Series([5,6,7,8])
print(s6)

0    1
1    2
2    3
3    4
dtype: int64
0    5
1    6
2    7
3    8
dtype: int64

In [22]:
result=s5+s6
print(result)

0     6
1     8
2    10
3    12
dtype: int64

## DataFrame

In [24]:
import pandas as pd

In [26]:
a=[1,2,3,4,5]
df=pd.DataFrame(a)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [27]:
df

   0
0  1
1  2
2  3
3  4
4  5

In [28]:
ls_of_ls=[[1,2,3],[4,5,6],[7,8,9]]
df1=pd.DataFrame(ls_of_ls)
print(df1)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [32]:
dict={'name':['hitesh','pratik','pritesh','Raju'],
      'age':[29,28,31,31]}
df2=pd.DataFrame(dict)
print(df2)

      name  age
0   hitesh   29
1   pratik   28
2  pritesh   31
3     Raju   31

In [33]:
df2

      name  age
0   hitesh   29
1   pratik   28
2  pritesh   31
3     Raju   31