## Sort by Values Method.

In [1]:
# Importing Pandas Library.
import pandas as pd

In [2]:
pokemon=pd.read_csv("E://Datasets//New Dataset//pokemon_new.csv")
print(pokemon.head(10))

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire
5   Charizard   Fire
6    Squirtle  Water
7   Wartortle  Water
8   Blastoise  Water
9    Caterpie    Bug

In [3]:
#Converted into series so we used squeeze function.
pokemon=pd.read_csv("E://Datasets//New Dataset//pokemon_new.csv",usecols=['Pokemon'],squeeze=True)
print(pokemon.head(10))

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
8     Blastoise
9      Caterpie
Name: Pokemon, dtype: object

In [4]:
#Sorting data in ascending order.
pokemon.sort_values().head(15)

459     Abomasnow
62           Abra
358         Absol
616      Accelgor
680     Aegislash
141    Aerodactyl
305        Aggron
189         Aipom
64       Alakazam
593     Alomomola
333       Altaria
697        Amaura
423       Ambipom
590     Amoonguss
180      Ampharos
Name: Pokemon, dtype: object

In [5]:
#sorting data into decending order.
pokemon.sort_values(ascending=False).tail(15)

180      Ampharos
590     Amoonguss
423       Ambipom
697        Amaura
333       Altaria
593     Alomomola
64       Alakazam
189         Aipom
305        Aggron
141    Aerodactyl
680     Aegislash
616      Accelgor
358         Absol
62           Abra
459     Abomasnow
Name: Pokemon, dtype: object

In [6]:
stock=pd.read_csv("E://Datasets//New Dataset//google_stock_price.csv",squeeze=True)
stock.head(10)

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
5    53.90
6    53.02
7    50.95
8    51.13
9    50.07
Name: Stock Price, dtype: float64

In [7]:
stock.sort_values(inplace=True)
print(stock)

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [8]:
stock.sort_values(ascending=False).head(10)

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
3008    771.07
2860    771.00
3006    768.79
2840    767.04
2843    766.81
Name: Stock Price, dtype: float64

## Sort by Index method.

In [9]:
pokemon.sort_index()

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [11]:
pokemon.sort_index(ascending=False).head(10)

720    Volcanion
719        Hoopa
718      Diancie
717      Zygarde
716      Yveltal
715      Xerneas
714      Noivern
713       Noibat
712      Avalugg
711     Bergmite
Name: Pokemon, dtype: object

## Extract Values by Index

In [12]:
pokemon[5]

'Charizard'

In [13]:
pokemon[[10,20,30,40]]

10      Metapod
20      Spearow
30    Nidoqueen
40        Zubat
Name: Pokemon, dtype: object

In [14]:
#extract values by range.
pokemon[50:100]

50       Dugtrio
51        Meowth
52       Persian
53       Psyduck
54       Golduck
55        Mankey
56      Primeape
57     Growlithe
58      Arcanine
59       Poliwag
60     Poliwhirl
61     Poliwrath
62          Abra
63       Kadabra
64      Alakazam
65        Machop
66       Machoke
67       Machamp
68    Bellsprout
69    Weepinbell
70    Victreebel
71     Tentacool
72    Tentacruel
73       Geodude
74      Graveler
75         Golem
76        Ponyta
77      Rapidash
78      Slowpoke
79       Slowbro
80     Magnemite
81      Magneton
82    Farfetch'd
83         Doduo
84        Dodrio
85          Seel
86       Dewgong
87        Grimer
88           Muk
89      Shellder
90      Cloyster
91        Gastly
92       Haunter
93        Gengar
94          Onix
95       Drowzee
96         Hypno
97        Krabby
98       Kingler
99       Voltorb
Name: Pokemon, dtype: object

In [15]:
pokemon[51:]

51        Meowth
52       Persian
53       Psyduck
54       Golduck
55        Mankey
         ...
716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, Length: 670, dtype: object

In [16]:
pokemon[:30]

0      Bulbasaur
1        Ivysaur
2       Venusaur
3     Charmander
4     Charmeleon
5      Charizard
6       Squirtle
7      Wartortle
8      Blastoise
9       Caterpie
10       Metapod
11    Butterfree
12        Weedle
13        Kakuna
14      Beedrill
15        Pidgey
16     Pidgeotto
17       Pidgeot
18       Rattata
19      Raticate
20       Spearow
21        Fearow
22         Ekans
23         Arbok
24       Pikachu
25        Raichu
26     Sandshrew
27     Sandslash
28       Nidoran
29      Nidorina
Name: Pokemon, dtype: object

## Extract Values by Index Label

In [18]:
pokemon=pd.read_csv("E://Datasets//New Dataset//pokemon_new.csv",index_col='Pokemon',squeeze=True)
print(pokemon.head(10))

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Charizard      Fire
Squirtle      Water
Wartortle     Water
Blastoise     Water
Caterpie        Bug
Name: Type, dtype: object

In [19]:
pokemon['Venusaur']

'Grass'

In [21]:
pokemon['Squirtle']

'Water'

In [22]:
pokemon[["Venusaur","Charizard"]]

Pokemon
Venusaur     Grass
Charizard     Fire
Name: Type, dtype: object

## .get() Method

In [23]:
pokemon.get('Squirtle')

'Water'

In [24]:
pokemon.get(["Venusaur","Charizard"])

Pokemon
Venusaur     Grass
Charizard     Fire
Name: Type, dtype: object

In [25]:
pokemon.get(key='Squirtle')

'Water'

In [26]:
pokemon.get(key='Digimon',default='This is not a pokemon')

'This is not a pokemon'

## Math Methods in Pandas

In [27]:
stock=pd.read_csv("E://Datasets//New Dataset//google_stock_price.csv",squeeze=True)
stock.head(10)

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
5    53.90
6    53.02
7    50.95
8    51.13
9    50.07
Name: Stock Price, dtype: float64

In [28]:
stock.count()

3012

In [29]:
len(stock)

3012

In [30]:
stock.sum()

1006942.0

In [31]:
stock.min()

49.95

In [32]:
stock.std()

173.18720477113106

In [33]:
stock.max()

782.22